<router-outlet></router-outlet>
<div class="wrapper">
<!-- Navbar -->
<div class="navbar" [ngClass]="{'fixed-navbar': shouldFixNavbar()}">
  <img src="assets/img/logo2023.png" alt="Logo" class="logo">
  <div class="nav-item" routerLink="/mainpage">Events</div>
  <div class="nav-item" routerLink="/about">About Timisoara</div>
  <div class="nav-item" routerLink="/attractions">Attractions</div>
  <div class="nav-item" routerLink="/contact">Contact</div>
</div>


  <div  id="details-container" >
    <div class="photo-container">
    
      <img src="assets/img/Timisoara1.jpg" >
    </div>
    <div class="description-container">
    <h3 >History: Timișoara is known for its rich history. It played a significant role in the 1989 Romanian Revolution, which ultimately led to the overthrow of the communist regime. The city is often referred to as the birthplace of the revolution. </h3>
<h3> Cultural Diversity: Timișoara has a diverse cultural heritage influenced by various historical periods and the coexistence of different ethnic communities. The city has Hungarian, Serbian, German, and Romanian cultural influences.</h3>
 </div>
</div>


<div  id="details-container" >
  <div class="description-container">
    <h3 >Architectural Heritage: The city boasts a mix of architectural styles, ranging from Baroque and Art Nouveau to Communist-era buildings. The Union Square (Piața Unirii) is a central point with colorful buildings and historical landmarks.. </h3>
  <h3> Parks and Green Spaces: Timișoara is known for its green areas and parks, such as Central Park and Metropolitan Park. These spaces provide residents and visitors with recreational opportunities and a break from urban life.</h3>
  </div>
  <div  padding-left="20px" class="photo-containerph" padding-left="20px" >
    <img src="assets/img/Timisoara2.jpg" >
  </div>
</div>


<div  id="details-container" >
  <div class="photo-container">
  
    <img src="assets/img/Timisoara3.jpg" >
  </div>
  <div class="description-container">
  <h3 >Education and Research: The city is home to several universities, including Politehnica University of Timișoara, which is one of the most prestigious technical universities in Romania. Timișoara has a reputation for being a hub of education and research.</h3>
<h3> Economic Hub: Timișoara is an important economic center in Romania, with a strong industrial base and a growing technology sector. The city has attracted foreign investments and is part of the western region of Romania, which has experienced economic development.</h3>
</div>
</div>



</div>